    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery-json/2.5.1/jquery.json.min.js"></script>
    <script src="../javascripts/highlight/highlight.pack.js"></script>
    <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/ng-table/1.0.0-beta.9/ng-table.min.js"></script>
    <script src="http://cdn.bootcss.com/angular-sanitize/1.5.0/angular-sanitize.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-animate.min.js"></script>
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>
    <script src="../javascripts/viewModel.js"></script>
</body>
</html>