</div>
<div id="footer">
    <div class="footer-container">
        <p>VIEW MODEL 2016</p>
    </div>
</div>
<input type="hidden" id="configs" value='<%=configs%>' />
<script src="/javascripts/repository/jquery.min.js"></script>
<script src="/javascripts/repository/jquery.cookie.min.js"></script>
<script src="/javascripts/repository/bootstrap.min.js"></script>
<script src="/javascripts/repository/jquery.json.min.js"></script>
<script src="/javascripts/highlight/highlight.pack.js"></script>
<script src="/javascripts/repository/angular.min.js"></script>
<script src="/javascripts/repository/ng-table.min.js"></script>
<script src="/javascripts/repository/angular-sanitize.min.js"></script>
<script src='/javascripts/repository/loading-bar.min.js'></script>
<script src="/javascripts/repository/rzslider.min.js"></script>
<script src="/javascripts/repository/simplemde.min.js"></script>
<script src="/javascripts/repository/d3.v3.min.js"></script>
<script src="/javascripts/repository/cal-heatmap.min.js"></script>
<script src="/javascripts/repository/showdown.min.js"></script>
<script src="/javascripts/jquery-upload-file/js/jquery.uploadfile.js"></script>
<script src="/javascripts/viewModelApp.js"></script>
<script src="/javascripts/viewModelControllers.js"></script>
<script src="/javascripts/viewModelServices.js"></script>
</body>
</html>