</div>
<div id="footer">
    <div class="footer-container">
        <p>VIEW MODEL 2016</p>
    </div>
</div>
<input type="hidden" id="configs" value='<%=configs%>' />
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery.cookie.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.json.min.js"></script>
<script src="/javascripts/highlight/highlight.pack.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/ng-table.min.js"></script>
<script src="/javascripts/angular-sanitize.min.js"></script>
<script src="/javascripts/angular-resource.min.js"></script>
<script src='/javascripts/loading-bar.min.js'></script>
<script src="/javascripts/rzslider.min.js"></script>
<script src="/javascripts/simplemde.min.js"></script>
<script src="/javascripts/d3.v3.min.js"></script>
<script src="/javascripts/cal-heatmap.min.js"></script>
<script src="/javascripts/viewModelApp.js"></script>
<script src="/javascripts/viewModelControllers.js"></script>
<script src="/javascripts/viewModelServices.js"></script>
</body>
</html>