<% if (style==="darkly") { %>
<% include header_darkly.ejs %>
<% } else { %>
<% include header_united.ejs %>
<% } %>
<div ng-controller="entityController">
<% include functions/navbar.ejs %>

<div class="container">
    <div class="jumbotron">
        <h1>MODEL VIEW</h1>
        <p>Throught he model view, a great schematic picture would be discovered here to enlarge your view.</p>
        <p>To get the best effort IE 10 or later would be great, new Chrome is recommended as well...</p>
        <p><a class="btn btn-primary btn-lg" href="/entities/">ENTITIES</a></p>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">Function1</h4>
                    <p class="list-group-item-text">check the memory usage and CPU load</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">List group item heading</h4>
                    <p class="list-group-item-text">check the page view</p>
                    <p class="list-group-item-text">check the top 10 entities</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Leading to the world</h4>
                    <p class="list-group-item-text">check the top 10 entities</p>
                </a>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Functionality2
                </a>
                <a href="#" class="list-group-item">Entity viewer
                </a>
                <a href="#" class="list-group-item">Infrastruction
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Functionality3
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in
                </a>
                <a href="#" class="list-group-item">Morbi leo risus
                </a>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
