body {
  padding: 20px;
  font: 15px "proxima-nova","Lucida Grande", Helvetica, Arial, sans-serif;
}


/*
 * Override Bootstrap's default container.
 */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .container {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1260px;
    margin: 0 auto;
  }
}

.bizView-header {
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

/* Global override */
.btn-default {
  color: #ffffff;
  background-color: #4F4F4F;
  border-color: #4F4F4F;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
  color: #ffffff;
  background-color: #4F4F4F;
  border-color: #4F4F4F;
}

.nav-tabs {
  margin-bottom: 15px;
}

.breadcrumb a{
  color: #0ce3ac;
}

.breadcrumb>.current {
  font-weight: bold;
}


/* View entity page */
.contentBlock {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #464545;
  border: 1px solid #464545;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.contentBlock blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.contentBlock-lg {
  padding: 24px;
  border-radius: 6px;
}
.contentBlock-sm {
  padding: 9px;
  border-radius: 3px;
}

#Mock pre {
  padding: 0px;
}

/* Entities page */
/* Block */
.half-unit {
  transition: background-color 0.4s ease;
  margin-bottom: 30px;
  padding-bottom: 4px;
  border: 1px solid #383737;
  background-image: url('/images/sep-half.png');
  background-color: #3d3d3d;
  color: white;
  height: 130px;
  cursor: pointer;
}

.half-unit-hover {
  margin-bottom: 30px;
  padding-bottom: 4px;
  border: 1px solid #2b2b2b;
  background-image: url('/images/sep-half.png');
  background-color: #2b2b2b;
  color: white;
  height: 130px;
  cursor: pointer;
}

.half-unit dtitle {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  margin: 8px;
  padding: 2px;
  height: inherit;
}

.half-unit hr {
  border: 0;
  border-top: 1px solid #151515;
  border-top-style: dashed;
  margin-top: 3px;
  margin-bottom: 3px;
}

.cont {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
}

.half-unit bold {
  transition: color 0.4s ease;
  font-family: 'Open Sans',sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
}

.half-unit-hover bold {
  font-family: 'Open Sans',sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #0ce3ac;
  vertical-align: middle;
}

.progress {
  height: 18px;
}

/*NavBar*/
#navSetDark {
  color: #375a7f;
  font-weight: bold;
}
#navSetLight {
  color: #bf3e11;
  font-weight: bold;
}


/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #0ce3ac;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #0ce3ac 1px 0 6px 1px;
  -ms-box-shadow: #0ce3ac 1px 0 6px 1px;
  -webkit-box-shadow: #0ce3ac 1px 0 6px 1px;
  box-shadow: #0ce3ac 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #0ce3ac;
  border-left-color: #0ce3ac;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Slider */
.sliderContiner {
  margin: 20px;
  width: 50%;
}

.userCaseContainer {
  border-bottom: 1px solid #4F4F4F;
  margin: 15px;
  padding-bottom: 5px;
  width:80%;
}

.carousel-customize {
  position: absolute;
  bottom: 0px;
  height:80px;
  width:100%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:20px;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.8);
}


/*slides grid*/
.exploregrid-item {
  float: left;
  height: 165px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  background-color: #464545;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.4s ease;;
}

.exploregrid-item-hover {
  float: left;
  height: 165px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  background-color: #2b2b2b;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: background-color 0.4s ease,border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
;
}

.exploregrid-item a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color:#0ce3ac;
}

.exploregrid-item-header {
  height: 20px;
  margin: -21px -21px 20px;
  background-color: #0ce3ac;
  border: 1px solid rgba(0,0,0,0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

/* slide edit */
#inputTopic {
  background-color: #ccc;
}

/*404 500*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/* wrap */
.wrap {
  min-height: 700px;
}

/*footer*/
.footer-container {
  float: right;
  color:#0ce3ac;
}

/* Cal-HeatMap CSS */

.graph-browse-previous, .graph-browse-next {
  padding: 5px;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 12px;
  font-size: 12px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  text-decoration: none;
}

.graph-browse-previous:hover, .graph-browse-next:hover {
  text-decoration: none;
}

.graph-browse-previous {
  margin-right: 5px;
}

.graph {
  clear: both;
  display: block;
  margin-top: 10px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label {
  fill: #999;
  font-size: 10px
}

.graph-rect {
  fill: #ededed;
  /*shape-rendering: crispedges*/
}

.graph-rect:hover {
  stroke: #000;
  stroke-width: 1px
}

.hover_cursor:hover {
  cursor: pointer;
}

.qi {
  background-color: #999;
  fill: #999;
}

.q0 {
  background-color: #fff;
  fill: #fff;
  stroke: #ededed
}

.q1 {
  background-color: #dae289;
  fill: #dae289
}

.q2 {
  background-color: #cedb9c;
  fill: #9cc069
}

.q3 {
  background-color: #b5cf6b;
  fill: #669d45
}

.q4 {
  background-color: #637939;
  fill: #637939
}

.q5 {
  background-color: #3b6427;
  fill: #3b6427
}