body {
  padding: 20px;
  font: 15px "proxima-nova","Lucida Grande", Helvetica, Arial, sans-serif;
}

/*
 * Override Bootstrap's default container.
 */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .container {
    width: 768px;
    margin: 0 auto;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1260px;
    margin: 0 auto;
  }
}

.businessValue-header {
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

/* Global override */
.btn-default {
  color: #ffffff;
  background-color: #4F4F4F;
  border-color: #4F4F4F;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
  color: #ffffff;
  background-color: #4F4F4F;
  border-color: #4F4F4F;
}

.nav-tabs {
  margin-bottom: 15px;
}

.nav-item-search {
  padding-left: 10px;
  color: #fff;
}

.breadcrumb a{
  color: #bf3e11;
}

.breadcrumb>.current {
  color: #bf3e11;
  font-weight: bold;
}

.glyphicon-padding {
  padding-right: 10px;
}

/* View entity page */
.contentBlock {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.contentBlock blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.contentBlock-lg {
  padding: 24px;
  border-radius: 6px;
}
.contentBlock-sm {
  padding: 9px;
  border-radius: 3px;
}

/* Entities page */
/* Block */
.half-unit {
  transition: background-color 0.4s ease;
  margin-bottom: 30px;
  padding-bottom: 4px;
  border: 1px solid #f5f5f5;
  background-image: url('/images/sep-half.png');
  background-color: #f5f5f5;
  color: white;
  height: 130px;
  cursor: pointer;
}

.half-unit-hover {
  margin-bottom: 30px;
  padding-bottom: 4px;
  border: 1px solid #f5f5f5;
  background-image: url('/images/sep-half.png');
  background-color: #ccc;
  color: white;
  height: 130px;
  cursor: pointer;
}

.half-unit dtitle {
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  margin: 8px;
  padding: 2px;
  height: inherit;
}

.half-unit-hover dtitle{
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  margin: 8px;
  padding: 2px;
  height: inherit;
}

.half-unit hr {
  border: 0;
  border-top: 1px solid #ccc;
  border-top-style: dashed;
  margin-top: 3px;
  margin-bottom: 3px;
}

.half-unit-hover hr {
  border: 0;
  border-top: 1px solid #7f7f7f;
  border-top-style: dashed;
  margin-top: 3px;
  margin-bottom: 3px;
}

.cont {
  text-align: center;
  text-transform: uppercase;
  margin-top: 20px;
  color:#000
}

.half-unit bold {
  transition: color 0.4s ease;
  font-family: 'Open Sans',sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #4F4F4F;
  vertical-align: middle;
}

.half-unit-hover bold {
  font-family: 'Open Sans',sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #dd4814;
  vertical-align: middle;
}


/*NavBar*/
#navSetDark {
  color: #375a7f;
  font-weight: bold;
}
#navSetLight {
  color: #bf3e11;
  font-weight: bold;
}

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #dd4814;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #dd4814 1px 0 6px 1px;
  -ms-box-shadow: #dd4814 1px 0 6px 1px;
  -webkit-box-shadow: #dd4814 1px 0 6px 1px;
  box-shadow: #dd4814 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #dd4814;
  border-left-color: #dd4814;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Slider */
.sliderContiner {
  margin: 20px;
  width: 50%;
}

.userCaseContainer {
  border-bottom: 1px solid #ccc;
  margin: 15px;
  padding-bottom: 5px;
  width:80%;
}

.carousel-customize {
  position: absolute;
  bottom: 0px;
  height:80px;
  width:100%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:20px;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  background-color: rgba(0,0,0,0.8);
}


/*topics grid*/
.exploregrid-item {
  float: left;
  height: 165px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, background-color 0.4s ease;;
}

.exploregrid-item-hover {
  float: left;
  height: 165px;
  padding: 20px;
  margin: 15px;
  font-size: 14px;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom-color: rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.05);
  -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  transition: background-color 0.4s ease,border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
;
}

.exploregrid-item a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color:#dd4814;
}

.exploregrid-item-header {
  height: 20px;
  margin: -21px -21px 20px;
  background-color: #dd4814;
  border: 1px solid rgba(0,0,0,0.1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.8;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}


/*404 500*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/* wrap */
.wrap {
  min-height: 700px;
}

/*footer*/
.footer-container {
  float: right;
  color:#dd4814;
}



/* Cal-HeatMap CSS */

.graph-browse-previous, .graph-browse-next {
  padding: 5px;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 12px;
  font-size: 12px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  text-decoration: none;
}

.graph-browse-previous:hover, .graph-browse-next:hover {
  text-decoration: none;
}

.graph-browse-previous {
  margin-right: 5px;
}

.graph {
  clear: both;
  display: block;
  margin-top: 10px;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.graph-label {
  fill: #999;
  font-size: 10px
}

.graph-rect {
  fill: #ededed;
  /*shape-rendering: crispedges*/
}

.graph-rect:hover {
  stroke: #000;
  stroke-width: 1px
}

.hover_cursor:hover {
  cursor: pointer;
}

.qi {
  background-color: #999;
  fill: #999;
}

.q0 {
  background-color: #fff;
  fill: #fff;
  stroke: #ededed
}

.q1 {
  background-color: #dae289;
  fill: #dae289
}

.q2 {
  background-color: #cedb9c;
  fill: #9cc069
}

.q3 {
  background-color: #b5cf6b;
  fill: #669d45
}

.q4 {
  background-color: #637939;
  fill: #637939
}

.q5 {
  background-color: #3b6427;
  fill: #3b6427
}

/* uploader in edit topic page */
.ajax-file-upload-bar {
  background-color: #dd4814;
  width: 0;
  height: 20px;
  border-radius: 3px;
  color:#FFFFFF;

}

/* validation */
.formValidationError {
  margin-top: 5px;
  color: #dd4814;
}

/*Help button*/
.helpTooltip{
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
  background:#1d1d1d;
  background:-webkit-gradient(linear, left top, right top, color-stop(0, #7e7e7e), color-stop(1, #1d1d1d));
  background:-webkit-linear-gradient(top, #7e7e7e, #1d1d1d);
  background:-moz-linear-gradient(top, #7e7e7e, #1d1d1d);
  border: 0px solid #1d1d1d;
  color:#f2f2f2;
  display:inline-block;
  height:27px;line-height:25px;
  text-align:center;
  font-family:Arial;
  font-weight:bold;
  text-decoration:none;
  vertical-align:text-bottom;
  width:31px;padding:0;
}
.helpTooltip:hover{
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  border-radius:4px;
  background:#6c6c6c;
  background:-webkit-gradient(linear, left top, right top, color-stop(0, #868686), color-stop(1, #6c6c6c));
  background:-webkit-linear-gradient(top, #868686, #6c6c6c);
  background:-moz-linear-gradient(top, #868686, #6c6c6c);
  border-color:#1d1d1d;
  text-decoration:none;
  color:#f2f2f2;
}


/***** Top content *****/

.inner-bg {
  padding: 0px 0 170px 0;
}

.top-content .text {
  color: #333;
}

.top-content .text h1 { color: #333; }

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
  color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
  margin-top: 35px;
}

.form-top {
  padding: 25px 25px 0px 25px;
  background: #eee;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: center;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #4aaf51;
}