<% include ../header.ejs %>
<% include ../functions/navbar.ejs %>
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Entities</a></li>
    <li class="active">Claim</li>
</ul>
<div class="container-fluid">

</div>
<% include ../footer.ejs %>
