<% if (style==="darkly") { %>
<% include ../header_darkly.ejs %>
<% } else { %>
<% include ../header_united.ejs %>
<% } %>
<% include ../functions/navbar.ejs %>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="current">Topics</li>
</ul>

<div class="row" ng-controller="slidesController" ng-init="loadSlides()" >
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="col-xs-4 col-lg-4" ng-repeat="slide in slides">
            <a ng-href="../slides/{{slide.id}}" class="exploregrid-item"
               ng-class="{'exploregrid-item-hover':hovering}" ng-mouseover="hovering=true"
               ng-mouseleave="hovering=false" >
                <div class="exploregrid-item-header"></div>
                <h4 class="exploregrid-item-title">{{slide.topic}}</h4>
                {{slide.description}}
            </a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<% include ../footer.ejs %>