<% if (style==="darkly") { %>
<% include ../header_darkly.ejs %>
<% } else { %>
<% include ../header_united.ejs %>
<% } %>
<% include ../functions/navbar.ejs %>
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="current">Topics</li>
    </ul>

    <div class="row" ng-controller="topicsController" ng-init="loadTopics()" >
        <div class="col-md-12">
            <div class="col-xs-4 col-lg-4" ng-repeat="topic in topics | filter:collectionFilter ">
                <a ng-href="../topics/{{topic.name}}" class="exploregrid-item"
                   ng-class="{'exploregrid-item-hover':hovering}" ng-mouseover="hovering=true"
                   ng-mouseleave="hovering=false" >
                    <div class="exploregrid-item-header"></div>
                    <h4 class="exploregrid-item-title">{{topic.title  | truncate:50}}</h4>
                    {{topic.description | truncate:80}}
                </a>
            </div>
        </div>
    </div>
</div>
<% include ../footer.ejs %>